@media all and (max-width: 900px) {
	#mainMenu {
		display: none;
		position: fixed;
		top: 50px;
		width: 100%;
		z-index: 9;
		background-color: #fff;
		padding-top: 20px;
		border: 1px solid #ccc;
	}
	
	#mainMenu li {
		float: none !important;
		padding-bottom: 10px;
	}
	
	#mobileMenuBtn {
		display: inline-block;
		margin-top: 8px;
		font-size: 22px;
		margin-right: 20px;
		border: 1px solid #ccc;
		padding: 0px 10px;
		border-radius: 5px;
		cursor: pointer;
		z-index: 10;
		position: relative;
	}
	
	#slider {
		display: none;
	}
	
	.mostReadTitle {
		font-size: 18px !important;
	}
	
	.entryInfoBar {
		text-align: right;
	}
	
	.entryInfoBar, .entryPrologue {
		float: none;
		clear: both;
		width: 100%;
	}
	
	.numRead {
		width: 40px !important;
		background-position: left -4px;
		background-size: 70%;
	}
	
	.numComment {
		width: 40px !important;
		background-position: left top;
		background-size: 60%;
	}
	
	.forms label, .forms input, .forms textarea, .forms select {
		display: block;
		margin: auto;
		text-align: center;
		width: 90%;
	}
	
	.forms textarea {
		margin-bottom: 10px;
		text-align: left;
	}
	
	.forms label {
		padding: 0px;
	}

	#recaptchaWidgetWrapper {
		text-align: center;
		width: 100%;
	}
	
	#footer .footerColumn {
		width: 50%;
	}
	
	#footer .footerColumn:nth-child(3) {
		clear: both;
	}
	
	.categoryList {
		width: 100%;
		float: none;
	}
	
	#entryList {
		width: 100%;
		float: none;	
	}
	
	#filter {
		display: block;
	}
	
	.categoryList {
		display: none;
	}
	
	.cmOpen {
		display: none;
	}
	
	.compactMenu {
		height: auto;
		overflow: auto;
	}
}

@media all and (max-width: 480px) {
	
	#tags {
		text-align: center;
	}
	
	#tags .tag {
		margin-top: 5px;
	}
	
	.readMoreBtn {
		float: none;
		text-align: center;
		margin: auto;
		border-radius: 0px;
	}

	.entryInfoBar a {
		flex: 1;
	}
	
	#footer .footerColumn {
		width: 100%;
		float: none;
	}
	
	.comment .header .date {
		float: none;
	}
	
	.comment .header {
		font-size: 12px;
	}
	
	#tagcloudContainer {
		display: none;
	}

	#comments.user .control a {
		margin: 5px 0px !important;
	}
}
