<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>github-packages</id>
            <username>${GITHUB_PACKAGES_REPO_USERNAME}</username>
            <password>${GITHUB_PACKAGES_REPO_PASSWORD}</password>
        </server>
        <server>
            <id>${LEAFLET_DOCKER_REGISTRY_HOST}</id>
            <username>${LEAFLET_DOCKER_REGISTRY_USERNAME}</username>
            <password>${LEAFLET_DOCKER_REGISTRY_PASSWORD}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>use-github-packages-repository</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>central</id>
                    <name>Central Repository</name>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <layout>default</layout>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>github-packages</id>
                    <name>GitHub Packages Repository</name>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <layout>default</layout>
                    <url>${GITHUB_PACKAGES_REPO_HOST_BASE}/*</url>
                </repository>
            </repositories>
            <properties>
                <docker.skip>false</docker.skip>
                <docker.skip-latest>false</docker.skip-latest>
            </properties>
        </profile>
    </profiles>
</settings>