<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<body>
<div id="entries" class="forms" layout:fragment="content">
    <h3 th:text="#{form.signin.title}">placeholder:signin</h3>
    <form th:action="@{''}" method="post">
        <div class="form-group">
            <label for="email" th:text="#{form.signin.label.email}">placeholder:email</label>
            <input type="email" class="form-control" id="email" th:placeholder="#{form.signin.placeholder.email}" placeholder="placeholder:email" name="email" required="required" />
        </div>
        <div class="form-group">
            <label for="password" th:text="#{form.signin.label.password}">placeholder:password</label>
            <input type="password" class="form-control" id="password" th:placeholder="#{form.signin.placeholder.password}" placeholder="placeholder:password" name="password" required="required" />
        </div>
        <button type="submit" class="btn btn-default" th:text="#{form.signin.label.send}">placeholder:signin</button>
    </form>

    <h3 th:text="#{form.reclaim.title}">placeholder:reclaim</h3>
    <!-- TODO fix action -->
    <form th:action="@{''}" th:object="${passwordReclaimRequestModel}" method="post">
        <div class="form-group">
            <label for="forgetemail" th:text="#{form.reclaim.label.email}">placeholder:email</label>
            <input name="email" type="email" class="form-control" id="forgetemail" th:placeholder="#{form.reclaim.placeholder.email}" placeholder="placeholder:email" />
            <span class="validationError" th:if="${#fields.hasErrors('email')}" th:text="#{form.reclaim.validation.error.email}">placeholder:val_err_email</span>
        </div>
        <th:block th:insert="fragment/security.html :: recaptcha-widget" />
        <button type="submit" class="btn btn-default" th:text="#{form.reclaim.label.send}">placeholder:reclaim</button>
    </form>
</div>
</body>
</html>