<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<body>
<div id="entries" class="forms" layout:fragment="content">

    <form th:object="${signUpRequestModel}" th:action="@{''}" method="post" accept-charset="utf-8">
        <h3 class="" th:text="#{form.signup.userinfo}">placeholder:userinfo</h3>
        <div class="form-group">
            <label for="username" th:text="#{form.signup.label.username}">placeholder:username</label>
            <input name="username"
                   th:value="${!(validatedModel == null || #fields.hasErrors('username')) ? validatedModel.name : null}"
                   class="form-control" required="required" th:placeholder="#{form.signup.placeholder.username}" maxlength="255" type="text" id="username" />
            <span class="validationError" th:if="${#fields.hasErrors('username')}" th:text="#{form.signup.validation.error.username}">placeholder:val_err_email</span>
        </div>
        <div class="form-group">
            <label for="email" th:text="#{form.signup.label.email}">placeholder:email</label>
            <input name="email"
                   th:value="${!(validatedModel == null || #fields.hasErrors('email')) ? validatedModel.name : null}"
                   class="form-control" required="required" th:placeholder="#{form.signup.placeholder.email}" maxlength="255" type="text" id="email" />
            <span class="validationError" th:if="${#fields.hasErrors('email')}" th:text="#{form.signup.validation.error.email}">placeholder:val_err_email</span>
        </div>
        <div class="form-group">
            <label for="password" th:text="#{form.signup.label.password}">placeholder:password</label>
            <input name="password"class="form-control" required="required" th:placeholder="#{form.signup.placeholder.password}" type="password" id="password" />
            <span class="validationError" th:if="${#fields.hasErrors('password')}" th:text="#{form.signup.validation.error.password}">placeholder:val_err_email</span>
        </div>
        <div class="form-group">
            <label for="password_confirm" th:text="#{form.signup.label.password.confirm}">placeholder:passwordconf</label>
            <input name="passwordConfirmation" class="form-control" required="required" th:placeholder="#{form.signup.placeholder.password.confirm}" type="password" id="password_confirm" />
            <span class="validationError" th:if="${#fields.hasErrors('passwordConfirmation')}" th:text="#{form.signup.validation.error.passwordConfirmation}">placeholder:val_err_email</span>
        </div>
        <th:block th:insert="fragment/security.html :: recaptcha-widget" />
        <button type="submit" class="btn btn-default" th:text="#{form.signup.label.send}">placeholder:signup</button>
    </form>

</div>
</body>
</html>