<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- use base logback configuration provided by Boot -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>

    <!-- overwrite default logging settings -->
    <property name="root.level.console" value="OFF" />
    <property name="root.level.file" value="OFF" />

    <!-- set logging by profile -->
    <springProfile name="!production">

        <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>

    </springProfile>

    <springProfile name="production">

        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

        <appender name="CONSOLE-JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <provider class="net.logstash.logback.composite.loggingevent.ThrowableClassNameJsonProvider">
                    <fieldName>exception_class</fieldName>
                    <useSimpleClassName>false</useSimpleClassName>
                </provider>
                <provider class="net.logstash.logback.composite.loggingevent.ThrowableMessageJsonProvider">
                    <fieldName>exception_message</fieldName>
                </provider>
                <fieldNames>
                    <mdc>mdc</mdc>
                </fieldNames>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="FILE" />
            <appender-ref ref="CONSOLE-JSON" />
        </root>

    </springProfile>
</configuration>
