<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default}">
<body>

<!-- attachments fragment -->
<div id="attachments" th:fragment="attachments" th:if="${!article.attachments.isEmpty()}">
    <div class="sectionTitleType1"><span th:text="#{common.attachments}">placeholder:attachments</span></div>
    <div class="attachment" th:each="attachment : ${article.attachments}">
        <div class="control">
            <span class="download bg">
                <a href="#" th:href="${attachment.link}">
                    <span th:text="#{common.btn_download}">placeholder:download</span>
                </a>
            </span>
        </div>
        <div class="info">
            <span class="title" style="font-size: 18px;" th:text="${attachment.name}">placeholder:attachment_name</span>
            <br />
            <span class="title" th:text="#{common.attachment.type}">placeholder:att_type</span> <th:block th:text="#{'attachment.type.' + ${attachment.type}}"/>
            <p>&nbsp;</p>
            <span th:text="${attachment.description}">placeholder:att_desc</span>
        </div>
    </div>
</div>

<!-- comments fragment -->
<th:block th:fragment="comments">
    <div class="sectionTitleType1" th:text="#{common.comment_block.title}"><span>placeholder:comments</span></div>

    <div class="forms" style="display: none;">
        <form th:object="${articleCommentRequest}" th:action="@{/article/__${article.link}__/comment}" method="post" accept-charset="utf-8">
            <input type="hidden" name="entryId" th:value="${article.id}" />

            <th:block sec:authorize="isAnonymous()">
                <div class="input text">
                    <label for="name" th:text="#{form.comment.label.name}">placeholder:name</label>
                    <input name="name"
                           th:value="${!(validatedModel == null || #fields.hasErrors('name')) ? validatedModel.name : null}"
                           th:placeholder="#{form.comment.placeholder.name}" required="required" maxlength="255" type="text" id="name" />
                    <span class="validationError" th:if="${#fields.hasErrors('name')}" th:text="#{form.comment.validation.error.name}">placeholder:val_err_name</span>
                </div>
                <div class="input text">
                    <label for="email" th:text="#{form.comment.label.email}">placeholder:email</label>
                    <input name="email"
                           th:value="${!(validatedModel == null || #fields.hasErrors('email')) ? validatedModel.email : null}"
                           th:placeholder="#{form.comment.placeholder.email}" required="required" maxlength="255" type="email" id="email" />
                    <span class="validationError" th:if="${#fields.hasErrors('email')}" th:text="#{form.comment.validation.error.email}">placeholder:val_err_email</span>
                </div>
            </th:block>

            <p sec:authorize="isAuthenticated()">
                <label th:text="#{form.comment.label.send_as}">placeholder:send_as</label>
                <strong th:text="${#authentication.details.name}">placeholder:username</strong>
            </p>

            <div class="input textarea">
                <label for="message" th:text="#{form.comment.label.message}">placeholder:message</label>
                <textarea name="message"
                          th:text="${!(validatedModel == null || #fields.hasErrors('message')) ? validatedModel.message : null}"
                          th:placeholder="#{form.comment.placeholder.message}" maxlength="2000" required="required" cols="30" rows="6" id="message"></textarea>
                <span class="validationError" th:if="${#fields.hasErrors('message')}" th:text="#{form.comment.validation.error.message}">placeholder:val_err_message</span>
            </div>
            <th:block th:insert="fragment/security.html :: recaptcha-widget" />
            <input type="submit" value="placeholder:send" th:value="#{form.comment.label.send}" />
        </form>
    </div>

    <div style="text-align: center;">
        <span style="margin-bottom: 10px;" class="commentBtn" onclick="$('.forms').slideDown('slow'); $(this).parent().slideUp('slow');" th:text="#{form.comment.control.open}">placeholder:open</span>
    </div>

    <div id="comments">
        <p th:if="${comments == null or comments.isEmpty()}" style="font-weight: bold;" th:text="#{common.comment_block.no_comments}"></p>
        <th:block th:if="${comments != null}" th:each="comment : ${comments}">
            <div class="comment" th:class="${comment.createdByArticleAuthor ? 'comment admin' : 'comment'}">
                <div class="header">
                    <span class="sender" th:text="${comment.author.name}">placeholder:author</span>
                    <span class="date" th:text="${comment.created}">placeholder:created</span>
                </div>
                <div class="content" th:unless="${comment.deleted}" th:text="${comment.content}">placeholder:content</div>
                <div class="content" th:if="${comment.deleted}" th:text="#{common.comment_block.deleted}">placeholder:content</div>
            </div>
            <div class="clear">&nbsp;</div>
        </th:block>
    </div>
</th:block>
</body>

