<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<body>
<div id="content" layout:fragment="content">
    <div id="statusBar">
        <span>Navigation: <a href="/">Home</a> &gt; Dummy</span>
    </div>
    <div id="entries" class="static">
        <h3>Dummy view</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus pulvinar enim, non hendrerit
            tellus consectetur sit amet. Nunc imperdiet maximus odio eget tempus. Nunc mauris lacus, viverra vel posuere
            id, ornare eget felis. Vestibulum leo sem, elementum non sollicitudin eget, condimentum a purus. Morbi sit
            amet ipsum at erat cursus auctor. Integer nec mollis leo. Ut ut varius sem, id euismod odio. Vestibulum
            ornare sem a urna convallis suscipit vel non nunc. Pellentesque non nibh cursus, maximus ipsum quis,
            porttitor erat. Cras pretium faucibus augue. Ut pellentesque sem eros, et faucibus erat fringilla vitae.
            Nulla eget lobortis augue. Ut ut egestas risus, vel dictum sapien. Nam lorem tellus, aliquam a ante vitae,
            pharetra molestie nisl. Vestibulum et risus quam.

            Curabitur non leo ac odio volutpat porttitor. Ut neque quam, auctor vitae convallis bibendum, finibus a
            sapien. Aenean tempus sem tellus, ac mattis ipsum consectetur quis. Vivamus vel pulvinar ipsum. Aliquam nec
            risus non nunc tristique facilisis. Mauris cursus tortor sed arcu ullamcorper, vitae iaculis ex luctus.
            Phasellus rutrum, neque vitae tristique fringilla, dolor sem vestibulum ipsum, sed euismod erat sem nec
            tortor. In est mi, iaculis a vestibulum ut, tempor et massa. Ut in purus ipsum. Mauris ac maximus diam.
            Etiam mi ligula, placerat a metus quis, consequat euismod ex.

            Nulla eget tempor purus. Phasellus dignissim sapien sit amet nulla sodales, blandit porttitor nunc suscipit.
            Vestibulum ut lorem ac nisi viverra fermentum eget non mi. Donec cursus ultricies lorem, eget fringilla erat
            vehicula ac. Proin a suscipit purus, at mollis ante. Fusce scelerisque nibh ut dolor bibendum, at sodales
            elit sodales. Ut vehicula justo id posuere dignissim. Sed pellentesque maximus nisl at accumsan. Nulla
            sollicitudin in risus vel accumsan. Ut sed interdum ipsum. Nunc aliquam dapibus lectus, a mattis orci
            sollicitudin a. Vivamus viverra nisi vel lacus iaculis lobortis. Etiam elementum consectetur elementum.
            Aenean iaculis orci sed faucibus posuere.
        </p>
    </div>
</div>
</body>
</html>