<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<body>
<div id="entries" class="forms" layout:fragment="content">

    <th:block th:insert="~{fragment/profile.html :: profile-navigation}" />
    <div class="intro" style="padding-bottom: 20px;">
        <a class="commentBtn" style="margin: 5px;" th:href="@{/profile/manage-profile}" th:text="#{section.profile.navigation.manage-profile}">placeholder:manage-profile</a>
    </div>
</div>
</body>
</html>