<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title th:text="${seo.pageTitle}">placeholder:title</title>
        <meta name="description" th:content="${seo.metaDescription}" />
        <meta name="keywords" th:content="${seo.metaKeywords}" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <meta property="og:image" th:content="@{__${@environment.getProperty('page-config.og-image')}__}" />
        <meta property="og:title" th:content="${seo.pageTitle}" />
        <meta property="og:description" th:content="${seo.metaDescription}" />
        <meta property="og:url" th:content="${#request.getRequestURL()}" />

        <link rel="stylesheet" type="text/css" href="/css/site.css" th:href="@{/css/site.css}" />
        <link rel="stylesheet" type="text/css" href="/css/mobile.css" th:href="@{/css/mobile.css}" />
        <link rel="shortcut icon" th:href="@{/images/leaflet.png}" type="image/x-icon" />

        <script type="text/javascript" src="/js/jquery-1.11.3.min.js" th:src="@{/js/jquery-1.11.3.min.js}"></script>
        <script type="text/javascript" src="/js/site.js" th:src="@{/js/site.js}"></script>
        <script type="text/javascript" src="/js/engine_basics.js" th:src="@{/js/engine_basics.js}"></script>
        <script type="text/javascript" src="/js/tagcloud.jquery.min.js" th:src="@{/js/tagcloud.jquery.min.js}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#flash_bg').click(function() {
                    $('#flash').hide();
                });

                $('.message').click(function() {
                    $('#flash').hide();
                });
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.scroll-to-top').click(function() {
                    $('html, body').animate({ scrollTop: 0 }, 500);
                });
            });
        </script>
    </head>
    <body>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-18117211-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-18117211-1');
        </script>

        <th:block th:with="flash=${@formLoginFlashMessageHelper.getMessageKey(#request, flash)}">
            <div id="flash" th:if="${flash != null}">
                <div class="message">
                    <th:block th:text="${flash == T(hu.psprog.leaflet.lcfa.web.model.FlashMessageKey).SUCCESSFUL_SIGN_IN.getMessageKey()}
                                        ? #{__${flash}__(${#authentication.details.name})}
                                        : #{__${flash}__}" />
                    <span class="hide_msg" th:text="#{common.flash.close}">placeholder:flash_close</span>
                </div>
            </div>
        </th:block>

        <!-- header section -->
        <div id="header">
            <a id="logo" href="/" th:href="@{/}"><img src="/img/logo.png" th:src="@{/images/logo.png}" /></a>
            <ul class="" id="mainMenu" th:if="${headerMenu != null}">
                <th:block th:each="item : ${headerMenu}">
                    <li th:if="${@frontEndRouteAuthRequirementEvaluator.canDisplay(item)}">
                        <a href="#" th:href="@{__${item.url}__}" th:id="'menuitem_' + ${item.routeId}" th:text="#{__${item.name}__}">placeholder:menuitem</a>
                    </li>
                </th:block>
                <li style="float: right;" sec:authorize="isAuthenticated()">
                    <form th:action="@{__${@environment.getProperty('page-config.logout-endpoint')}__}" th:method="post" action="#" id="logoutForm">
                        <a href="javascript:void(0)" onclick="$('#logoutForm').submit()" th:text="#{menu.logout}">placeholder:signout</a>
                    </form>
                </li>
            </ul>
            <span id="mobileMenuBtn" th:text="#{common.menu}">placeholder:menu</span>
        </div>

        <!-- content section -->
        <div id="content" th:with="navigation = ${navigation == null ? {} : navigation}">
            <div id="statusBar">
                <div style="padding: 15px 20px;">
                    <span th:text="#{common.navigation.title}">placeholder:navigation_title</span>
                    <a href="/" th:text="#{common.navigation.home}">placeholder:navigation_home</a>
                    <th:block th:each="navigationItem : ${navigation}">
                        &gt;
                        <a href="#" th:href="@{__${navigationItem.link}__}"
                           th:text="${navigationItem.translatable} ? #{__${navigationItem.title}__} : ${navigationItem.title}">placeholder:navigation_item</a>
                    </th:block>
                </div>
            </div>
            <th:block layout:fragment="content"/>
        </div>

        <!-- footer section -->
        <div id="footer">
            <div id="footerWrapper">
                <div class="footerColumn">
                    <p class="footerColumnTitle" th:text="${@environment.getProperty('page-config.sitename')}">placeholder:sitename</p>
                    <ul class="footerColumnData">
                        <li th:text="${@environment.getProperty('page-config.copyright')}">placeholder:copyright</li>
                        <li>&nbsp;</li>
                        <li>Powered by <a href="https://spring.io/">Spring Framework</a></li>
                        <li style="display: table-row;">
                            <span style="display: table-cell; vertical-align: middle;">Managed by </span>
                            <img src="/images/leaflet.png" style="max-width: 32px; display: table-cell; padding-top: 3px;" th:src="@{/images/leaflet.png}" alt="leaflet" />
                            <a style="display: table-cell; vertical-align: middle;" href="https://github.com/petersmith-hun/leaflet-backend">Leaflet</a>
                        </li>
                    </ul>
                </div>
                <div class="footerColumn">
                    <p class="footerColumnTitle" th:text="#{common.sitemap}">placeholder:sitemap</p>
                    <ul class="footerColumnData" th:if="${footerMenu != null}">
                        <li th:each="item : ${footerMenu}">
                            <a href="#" th:href="@{__${item.url}__}" th:id="'menuitem_' + ${item.routeId}" th:text="#{__${item.name}__}">placeholder:menuitem</a>
                        </li>
                    </ul>
                </div>
                <div class="footerColumn">
                    <p class="footerColumnTitle" th:text="#{common.latest}">placeholder:latest</p>
                    <ul class="footerColumnData" th:if="${latest != null}">
                        <li th:each="entry : ${latest}">
                            <a href="#" th:href="@{/article/__${entry.link}__}" th:text="${entry.title}">placeholder:title</a>
                        </li>
                    </ul>
                </div>
                <div class="footerColumn">
                    <p class="footerColumnTitle" th:text="#{common.contact}">placeholder:contact</p>
                    <ul class="footerColumnData">
                        <li>
                            <span>email: </span>
                            <a href="#" th:href="'mailto:' + ${@environment.getProperty('page-config.contact-mail')}"
                               th:text="${@environment.getProperty('page-config.contact-mail')}">placeholder:contact_mail</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear">&nbsp;</div>
            <a href="javascript:void(0)" class="scroll-to-top">
                <div id="toTopBar">&nbsp;</div>
            </a>
        </div>
    </body>
</html>