<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/default}">
<body>
    <div id="entries" layout:fragment="content">

        <th:block th:insert="fragment/common.html :: filter" />

        <div id="entryList" th:if="${entries != null}">
            <div th:each="entry : ${entries}">
                <div class="entryBox">
                    <h1><span th:text="${entry.title}">placeholder:title</span></h1>
                    <div class="entryPrologue" style="margin-top: 20px;">
                        <div style="padding: 0px 20px;" th:text="${entry.prologue}">placeholder:prologue</div>
                        <div class="entryInfoBar">
                            <span class="author" th:text="${entry.author.name}">placeholder:author</span>
                            <span class="published" th:text="${entry.creationDate}">placeholder:date</span>
                            <a href="#" th:href="@{/article/__${entry.link}__}">
                                <div class="readMoreBtn" th:text="#{common.btn_show_article}">placeholder:show_article</div>
                            </a>
                        </div>
                        <div class="clear">&nbsp;</div>
                    </div>
                </div>
                <div class="clear">&nbsp;</div>
            </div>
            <div class="clear">&nbsp;</div>

            <th:block th:insert="fragment/common.html :: pagination" />

        </div>
        <div class="clear">&nbsp;</div>
    </div>
</body>
</html>